body {
    background-color: white;
}

button {
    background-color: white;
    border: 2px solid green;
    border-radius: 3px;
    color: green;
    padding: 1rem;
    margin: 200px;
    cursor: pointer;
}

button:hover {
    background-color: green;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}